.ponme{

   color: black;
}

 *.hola {
    height: 50px;
    border: 2px solid;
    border-radius: 15px;
   

}

.contenedor{

    margin-top: 1px;

    text-align: right;
    margin-right: 15px;
    margin-top: -150px;
   


}
.buena{

    text-align: right;
}

p {

    color: orange;
}


